<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="name.mjs001.expensereport">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="name.mjs001.expensereport.GlobalConfig"
        android:allowBackup="true"
        android:icon="@drawable/ic_us_dollar"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="name.mjs001.expensereport.Splash"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter> <!-- put launcher title here, else inherit from parent activity -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="name.mjs001.expensereport.ViewExpensesByTime"
            android:configChanges="orientation"
            android:label="@string/title_view_all_expenses"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="name.mjs001.expensereport.ViewCategories"
            android:configChanges="orientation"
            android:label="@string/title_activity_view_categories"
            android:screenOrientation="portrait"
            android:parentActivityName="name.mjs001.expensereport.ViewExpensesByTime"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.mjs001.expensereport.ViewExpensesByTime">
            </meta-data>
        </activity>
        <activity
            android:name="name.mjs001.expensereport.ViewUsers"
            android:configChanges="orientation"
            android:label="@string/title_activity_view_users"
            android:screenOrientation="portrait"
            android:parentActivityName="name.mjs001.expensereport.ViewExpensesByTime"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="name.mjs001.expensereport.ViewExpensesByTime">
            </meta-data>
        </activity>
        <activity
            android:name="name.mjs001.expensereport.EditExp"
            android:configChanges="orientation"
            android:label="@string/title_activity_editexp_edit"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>